.app {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
}

.mathInput > input {
  text-align: center;
}
.mathInput > input::-webkit-outer-spin-button,
.mathInput > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;  
}
