.app {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.answerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  max-width: 180px;
}

.answerListExpression {
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  width: 100%;
}

.answerListAnswer {
  background-color: grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  width: 100%;
}

body {
}

.expressionAnswerContainer {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45px;
  margin: 5px;
}

.expressionAnswerElement {
  text-align: center;
  width: 100%;
}

.mathInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
}
.mathInput > input {
  font-size: 24px;
  height: 50px;
  text-align: center;
  width: 100%;
}
.mathInput > input::-webkit-outer-spin-button,
.mathInput > input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.mathKey {
  align-items: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 18px;
  height: 50px;
  justify-content: center;
  margin: 5px;
  outline: none;
  width: 50px;
}
.mathKey:active {
  background-color: white;
  color: black;
}

.mathKeyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
